<form action="/add-opening" method="post">
	<label for="title">Title: </label>
	<input type="text" name="title" id="title">
	<br><br>

	<label for="description">Description</label>
	<input type="text" name="description" id="description">
	<br><br>

	<label for="company">Company</label>
	<input type="text" name="company" id="company">
	<br><br>

	<label for="salary">Salary</label>
	<input type="text" name="salary" id="salary">
	<br><br>

	<label for="requirements">Requirements</label>
	<input type="text" name="requirements" id="requirements">
	<br><br>

	<select name="level" id="level">
		<option value="internship">Internship</option>
		<option value="junior">Junior</option>
		<option value="intermediate">Intermediate</option>
		<option value="senior">Senior</option>
	</select>
	<br><br>

	<select name="type" id="type">
		<option value="CLT">CLT</option>
		<option value="PJ">PJ</option>
	</select>
	<br><br>

	<label for="city">City</label>
	<input type="text" name="city" id="city">
	<br><br>

	<label for="location">Location</label>
  <input type="text" name="latitude" placeholder="latitude" >
  <input type="text" name="longitude" placeholder="longitude">
	<br><br>

	<label for="link">Link to apply</label>
	<input type="text" name="link" id="link">
	<br><br>

	<button type="submit">Register</button>

</form>