<div class="container d-flex network-content mb-3">
  <nav class="sidebar-network col-3">
    {{> sidebar}}
  </nav>
	<div class="col-8 card-content-pages">
		<h1>Network!</h1>
		{{#each users}}
		<div class="card mb-3 network">	
				<img src="{{imagePath}}" alt="profile picture" class="networking">
			<div class="card-body ">
				<h5><a href="/profile/{{_id}}">{{name}}</a></h4>
				<p>{{specialty}}</p>
			</div>
		</div>
		{{/each}}
	</div>
</div>