<div class="home-content container">
  <nav class="sidebar-home">
    {{> sidebar}}
  </nav>
    <div class="home-posts col-7">
      {{#each posts}}
      {{> postsFeed}}
      {{/each}}
    </div>
    <aside class="home-side col-3">
      <div class="home-openings">
        <div class="card">
          <div class="card-body">
            <h5>Opportunities: </h5>
            {{#each openings}}
            {{> openingsHome}}
            {{/each}}

            <hr>
            
            <h5>Events: </h5>
            {{#each events}}
            {{> eventsHome}}
            {{/each}}

          </div>
        </div>
      </div>
    </aside>
</div>