.home-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 1vh;
}

.home-posts {
  padding: 20px;
}

.sidebar {
  background-color: pink;
}

.sidebar a {
  color: #ffffff;
  font-weight: bold;
}

.sidebar ul li a:hover {
  color: #f55190;
}

.sidebar-image {
  max-width: 150px;
  margin: 0 auto;
}

.sidebar-text {
  text-align: center;
  color: white;
}

footer {
  min-height: 120px;
  text-align: center;
  background-color: #636466fb;
  width: 100%;
  padding: 20px 0;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-icons img {
  max-height: 30px;
  color: white;
  margin: 10px;
}

.card-login {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 120px;
}

.signup-check {
  display: flex;
  flex-direction: row;
}

.opening-content {
  max-width: 800px;
}

.form-location {
  display: flex;
  flex-direction: row;
}

#logo {
  max-width: 100px;
  margin-left: 15px;
}
